* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif, 'Poppins', sans-serif;
    color: black;
    background-color: white;
}

.header-container {
    width: 100%;
    height: 60px;
    background: goldenrod;
    display: flex;
}

.Navbar {
    display: flex;
    width: 100%;
    margin: auto;
    
    
    
}

#menu {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: gray;
}

.logo {
    display: flex;
    justify-content: center;
    align-self: center;
    color: #F93F23;
}

.logo h1 {
    display: flex;
    justify-content: center;
}

.logo i {
    font-size: 30px;
    color: white;
}

.nav-social {
    display: flex;
    
    
    margin-right: 120px;
    

}

.social-list {
    list-style-type: none;
    display: flex;
}


.social-list li {
    color: #F93F23;
    display: flex;
    justify-content: center;
    
    font-size: 1.8em;
    
}



/*
color pallet 
Logo(only) - #EF4229
the rest Orange/red - #F93F23
Background color - White #FFF
Grey buttons - #333333
Recipe yellow background - #FAEFC8
*/

/* Font CSS also to include - 
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;*/
