* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif, 'Poppins', sans-serif;
    color: black;
    background-color: white;
}

.header-container {
    width: 100%;
    height: 60px;
    background: red;
}

.navbar {
    display: flex;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-social {
    display: contents;
    justify-content: center;
    flex-direction: row;
}

.social-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.social-list li {
    color: ;
}



/*
color pallet 
Logo(only) - #EF4229
the rest Orange/red - #HF93F23
Background color - White #FFF
Grey buttons - #333333
Recipe yellow background - #FAEFC8
*/

/* Font CSS also to include - 
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;*/
