* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif;
    color: black;
    background-color: white;
}

/*
color pallet 
Logo(only): #EF4229
rest: #HF93F23
*/