* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root { 
    --primaryColor: rgba(249, 63, 35, 1);
    --secondaryColor: #EF4229;
    --terciaryColor: #fff;
    --forthColor: rgba(128, 128, 128, 1);
    --fifthColor: #FAEFC8;
    --sixthColor: rgb(0, 0, 0);


    /* Fonts */
    --fontPrimary: 'Source Serif Pro', serif;
    --fontSecondary: 'Poppins', sans-serif;
    --fontLogo: 'Permanent Marker', cursive;
}

.newreps-header h1 {
    font-family: var(--fontPrimary);
    color: var(--sixthColor);
    padding-bottom: 30px;
    padding-top: 30px;   
}


html {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif;
    color: black;
    background-color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.newreps {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3em;
}

.newreps-header {
    font: var(--fontSecondary);
    max-width: 70%;
    height: auto;
    align-items: center;
    margin: 4rem 4rem 0rem 4rem;
}

.newreps-bigpicture {
    position: relative;
    display: flex;
    text-align: center;
    align-items: flex;
    align-items: center;
    padding-left: 12rem;
    padding-right: 12rem;
}



.newreps-3imgtext {
    font-size: 12px;
    width: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;

}

.newreps-3imgtext-verticalline{
    padding: 5px;
    margin-left: 5px;
    border-left: 1px solid var(--forthColor);
    height: 200px;
    left: 50%;
    margin-left: 3px;
    top: 0;
    
}

.newreps-3imgtext-text{
    width: 220px;
}
.newreps-3imgtext-text h2 {
    width: 220px;
    text-decoration: underline;
    font-family: var(--fontPrimary);
    color: var(--sixthColor);

}
.newreps-3imgtext-text p {
    font-family: var(--fontPrimary);
    color: var(--sixthColor);

}

.newreps-3imgtext-3img {
    display: flex;
    flex-direction: column; 
    border-left: 1px solid #ccc;
    float: right;
    padding-left: 1rem;
    text-align: left;
    width: 50%;
    display: block;
    list-style-type: disc;
    
}


.newreps-3imgtext-3img-1 {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    font-family: var(--fontPrimary);
    color: var(--sixthColor);
    }

.newreps-3imgtext-3img-1 img {
    padding-right: 5px;
    }

.newreps-3imgtext-3img-2 img {
    padding-right: 5px;
    }
    
.newreps-3imgtext-3img-3 img {
    padding-right: 5px;
    }
     
.newreps-3imgtext-3img-2 {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    font-family: var(--fontPrimary);
    color: var(--sixthColor);
}
.newreps-3imgtext-3img-3 {
    padding-top: 1rem;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    font-family: var(--fontPrimary);
    color: var(--sixthColor);
} 

.newreps-ours {
    margin-top: 20px;
    margin-bottom:0px;
    padding: 1rem;
    width: 100%;
    background-color: var(--fifthColor);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.newreps-ours-header {
    display: flex;
    flex-direction: row;
    justify-content: space-aroundcenter;
    margin: 5px;
    align-items: center;
}

.newreps-ours-header hr h3{
    display: block;
    border-right: 10rem solid var(--terciaryColor);
    font-family: var(--fontPrimary);
    color: var(--sixthColor);
}

.newreps-ours-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.newreps-ours-images-1-img img {
    border-radius: 50%;
    margin: 2px;

}

.newreps-ours-images-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.newreps-ours-images-1-txt {
    max-width: 100px;
    margin: 10px;
    text-align: center;
    font-family: var(--fontPrimary);
    color: var(--sixthColor);
}

.newreps-footer {
    align-items: center;
    justify-items: center;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--secondaryColor);
    position: relative;
    clear: both;
    margin-top: 0;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    font-family: var(--fontPrimary);
    color: var(--sixthColor);
   
}

.newreps-footer-button button {
    padding: 0;
    background-color: var(--sixthColor);
    color: var(--terciaryColor);
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 80px;
}


.newreps-footer-title{
    padding-left: 5px;
    color: var(--terciaryColor);
}