* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif, 'Poppins', sans-serif;
    color: black;
    background-color: white;
}

/*Navbar section in the header*/

li, button {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: static;
}

.logo {
    cursor: pointer;
    display: flex;
    font-weight: 900;
    color: #F93F23;
    font-family: 'Poppins', sans-serif;
}

/* .logo i {
    width: 5px;
    height: 5px;
} */

.menu {
    color: gray;
    font-size: 40px;
}

.menu:hover {
    color: #F93F23;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links ul {

}

.nav-links li {
    display: inline-block;
    align-self: center;
    padding: 0px 10px;
    color: #F93F23;
    font-size: 35px;
}

.nav-links p {
    display: inline-block;
    align-self: center;
    color: gray;
    font-family: 'Poppins';
    margin-right: 8px;
}

.nav-links li i {
    transition: all 0.5s ease;
    align-self: center;
}

.nav-links li i:hover {
    color: gray;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 20px 40px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header a button {
    padding: 9px 25px;
    background-color: transparent;
    color: #F93F23;
    border: 2px solid #F93F23;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins';
}

header a button:hover {
    background-color: rgba(249, 63, 35, 0.8);
    color: #fff;
}

/* Main-container for the header section and search bar */

.header-container {
    position: relative;
    top: 30px;
    width: 100%;
    height: 500px;
    background-image: url(./Images/Bread.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar p {
    font-family: 'Poppins';
}

.search-bar h2 {
    display: flex;
    margin-top: 150px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
}

.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
    border: none;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #F93F23;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #c13e20;
}

.search_wrap.search_wrap_6 .search_box .input{
	border-radius: 8px;
}

.search_wrap.search_wrap_6 .search_box .btn {
	width: 125px;
	height: 45px;
	top: 8px;
	right: 5px;
	border-radius: 3px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn{
	border-radius: 8px;
}

.search_wrap.search_wrap_6 .search_box .input{
	padding-right: 145px;
}

/* Our Footer CSS section */

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #F93F23;
    padding: 70px 0;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: gray;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(247, 243, 243, 0.23);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #ffffff;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.footer-social-links a:hover {
    color: #F93F23;
    background-color: #ffffff;
}


/*
color pallet 
Logo(only) - #EF4229
the rest Orange/red - #F93F23 and rgba(249, 63, 35, 1) "for opacity"
Background color - White #FFF
Grey buttons - #333333
Recipe yellow background - #FAEFC8
*/

/* Font CSS also to include - 
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;*/
