* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif, 'Poppins', sans-serif;
    color: black;
    background-color: white;
}

/*Navbar section in the header*/

li, button {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: static;
}

.logo {
    cursor: pointer;
    display: flex;
    font-weight: 900;
    color: #F93F23;
}

/* .logo i {
    width: 5px;
    height: 5px;
} */

.menu {
    color: gray;
    font-size: 30px;
}

.menu:hover {
    color: #F93F23;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    display: inline-block;
    align-self: center;
    padding: 0px 10px;
    color: #F93F23;
    font-size: 35px;
}

.nav-links p {
    display: inline-block;
    align-self: center;
    color: gray;
    font-family: 'Poppins';
}

.nav-links li i {
    transition: all 0.3s ease-in-out;
    align-self: center;
}

.nav-links li i:hover {
    color: gray;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header a button {
    padding: 9px 25px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins';
}

header a button:hover {
    background-color: rgba(249, 63, 35, 0.8);
}

/* Main-container for the header section */

.header-container {
    position: relative;
    top: 30px;
    width: 100%;
    height: 500px;
    background-image: url(./Images/Bread.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar h2 {
    display: flex;
    margin-top: 150px;
    color: #fff;
    font-family: 'Source Serif Pro', serif;
    font-size: 5em;
}

.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}




/*
color pallet 
Logo(only) - #EF4229
the rest Orange/red - #F93F23 and rgba(249, 63, 35, 1) "for opacity"
Background color - White #FFF
Grey buttons - #333333
Recipe yellow background - #FAEFC8
*/

/* Font CSS also to include - 
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;*/
